.header {
    text-align: center;
    padding: 0.5rem;
    background-color: #422912;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size:20px;
}