<div class="div" *ngFor="let table of tables">
<div class="wrapper" *ngIf="table.status !== 0">
  <div class="row">
    <h4 class="title">
        {{table.tableName}}
    </h4>
    <button class="nameCustomer">
       {{table.empName}}
    </button>
  </div>
  <hr>
  <div class="row1">
    <p class="amount">
        {{table.amount}} Orders
    </p>
    <button class="status">
        {{table.status | status}}
    </button>
  </div>
</div>

<div class="wrapperWhite" *ngIf="table.status === 0">
  <div class="rowWhite">
    <h4 class="titleWhite">
      {{table.tableName}}
    </h4>
    <p class="statusWhite">
      {{table.status | status}}
    </p>
  </div>
  <div class="center">
  <button class="buttonWhite">
      Ready
  </button>
</div>
</div>
</div>