.wrapper{
    display:flex;
    box-shadow: 1px 2px 3px black;
}
.picture {
    padding:10px;
    width: calc(100%/2);
    img{
        width: 100%;
    }
}
.content 
{
    padding: 10px;
    width: calc(100%/2);
    justify-content: center;
    align-items: center;
    .name {
        margin:10px 0;
        color: #74572D;
        font-size: 28px;
        text-align: center;
        letter-spacing: 7px;
    }
    .price {
        margin:10px 0;
        color: #422912;
        font-size: 25px;
        text-align: center;
        font-weight: bold;
    }
    .des {
        color: gray;
        font-size: 17px;
    }
}
.center
{
    text-align: center;
    button {
        padding: 10px 30px;
        margin:5px 0;
        background: #422912;
        color: white;
        font-size: 20px;
        border-radius: 100px;
    }
}