.menu-bar {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: -2px -1px 1px grey;
    background: white;
    .menu-item {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding:0.5rem;
    }
}