html {
    height: 100%;
    min-height: 100%;
  }
.site {
    margin: 0;
    width:100%;
    height: 100%;
    min-height: 100%;
  
    app-header {
      position: absolute;
      width: 100%;
      top: 0;
      overflow: hidden;
      height: 41px;
      z-index: 10;
    }
  
    .content {
  
      position: absolute;
      width: 100%;
      top: 41px;
      bottom: 47px;
      overflow: auto;
      z-index: 2;
      background-color: rgb(240, 239, 239);
      router-outlet{
          width: 100%;
      }
  
  
  
  
    }
  
    app-menu-bar {
      position: absolute;
      width: 100%;
      height: 47px;
      bottom: 0;
      z-index: 10;
    }
  }
//   @media (min-width: 576px) {
// .container {
//     max-width: 100%;
// }
//   }

/* CSS Document */

marquee {
	margin-top: 5px;
	width: 100%;
}

.runtext-container {
overflow-x: hidden;
overflow-y: visible;
}

.main-runtext {margin: 0 auto;
overflow: visible;
position: relative;
height: 40px;
}

.runtext-container .holder {
position: relative;
overflow: visible;
display:inline;
float:left;

}

.runtext-container .holder .text-container {
	display:inline;
}

.runtext-container .holder a{
	text-decoration: none;
	font-weight: bold;
	color:#ff0000;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	line-height: -0.5em;
	font-size:50px;
}

.runtext-container .holder a:hover{
	text-decoration: none;
	color:#6600ff;
}
.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}