<div class="youself">
  <div class="background">
    <div class="info">
      <img src="assets/lxquynh.jpeg">
      <h4>Lê Xuân Quỳnh</h4>
      <p>Nhân viên bán hàng</p>
    </div>
  </div>
</div>
<div class="tab">
  <div class="spaceInTab">
    <div class="tabButton row">
      <button class="btnInfo"routerLink="info" class="col-6"[ngClass]="{'activeTab': tabSelect === 'item1'}" (click)="tabSelect = 'item1'">
        Thông tin
      </button>
      <button class="btnSchedule"routerLink="schedule" class="col-6" [ngClass]="{'activeTab': tabSelect === 'item2'}" (click)="tabSelect = 'item2'">
        Ca làm việc
      </button>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
