<div class="container">
  <div class="row">
    <h4 class="top7">
      Họ tên
    </h4>
  </div>
  <div class="row border-bot">
    <p>
    LÊ XUÂN QUỲNH
    </p>
  </div>
  <div class="row">
  <h4>
    Vị trí
  </h4>
</div>
<div class="row border-bot">
  <p>
  Nhân viên bán hàng
  </p>
</div>
<div class="row">
  <h4>
    Email
  </h4>
</div>
<div class="row border-bot">
  <p>
  quynhlx@icloud.com
  </p>
</div>
<div class="row">
  <h4>
    Số điện thoại
  </h4>
</div>
<div class="row border-bot">
  <p>
  0388166199
  </p>
</div>
</div>